*{
   
 
    padding: 0;
    box-sizing: border-box;
    margin: 0;


}
.over {
    overflow: overlay;
    overflow-x: scroll;
    }
html , body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important; 
}

.owl-carousel .owl-stage-outer{
    display: inline-table;

}

h4{
color: #020611 !important;

}
body{
background-color: var(--secondary);

}

p ,h1 ,h2,h3{
font-family:sans-serif;
color: var(--text-color);
}

a{
text-decoration: none;

}
:root{
    --Primary: #020611;
    --secondary:#f1f2f4;
    --text-color:#333333;
}
.owl-stage {
    display: -webkit-inline-box;
}.padding{
    padding: 10px 15px 10px 15px;
    }

    .raw{
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        
        
        }
        input#scan  {
            width: 100%;
            height: 70px;
            border-radius: 30px;
            background-color: #020611;
            color: #fff;
            font-size: 30px;
            font-family:sans-serif;
            text-align: center;
            margin: 5px;
        }
        input#scan::placeholder {
            color: #fff;
            font-size: 30px;
            text-align: center;
            font-family:sans-serif;
            line-height: 1;
        }

.flex{
display: flex;
flex-direction: row;
justify-content: space-between;

gap:20px;
}
.scan{

width: 100%;
height:60px;
background-color:var(--secondary);

}
.grid{

display:grid;
grid-template-columns: auto auto auto auto;
gap:30px;

}
.inline{
display:inline-block;

}
.search {
width: 100%;
margin-top: 0px;
margin-right: auto !important;
position: relative;

}
.login {
width: 10%;
margin-top: 0px;
margin-right: auto !important;
padding-left: 30px;
}
.cart {
width: 10%;
margin-top: 0px;
margin-right: auto !important;
padding-left: 30px;
}
.head i{
padding-right: 7px;

}
.scan{
border-radius: 8px;
border: none;
background-color: var(--secondary);

}



.gap {
margin-top: 10px;
margin-bottom: 10px;
}
.wth{
width: 100%;

}
.textgap{
padding-bottom:10px;


}
.log input {
width: 100%;
height: 40px;
border-radius: 30px;
border: 1px solid #3f68ef5c  !important;
margin-bottom: 20px;
margin-top: 10px;
}
.btn {
width: 150px !important;
height: 40px !important;
border-radius: 30px;
background: #3f69ef;
color: #fff;
font-size: 16px;
box-shadow: 0px 3px 9px #00000082;
border: none;
margin-top: 15px;
}
.fom{
padding:50px;

}
.rightlogo{
background:url("/images/flipkartbackground.jpeg");
align-items: center;
justify-content: center;
display: flex;
position: relative;
border-radius: 20px 0px 0px 20px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.rightlogo:before {
content: "";
background: #3f69efe3;
height: 100%;
width: 100%;
position: absolute;
z-index: 1;
border-radius: 20px 0px 0px 20px;
}
.rightlogo img{
z-index:1;

}
.log{
border-radius: 20px 0px 0px 20px !important;
}


.item {
padding-top: 15px;
padding-bottom: 15px;
}
.owl-theme .owl-nav.disabled+.owl-dots{

display: none;
}

.footer  {
padding: 50px;
background-color: #fff;
align-items: center;
justify-content: center !important;

}
.footer p ,footer h4{
color: #fff !important;

}
ul.listoffer li::before {
content: "";
background-image: url(/images/c22c9fc4-0555-4460-8401-bf5c28d7ba29.webp);
height: 15px;
width: 15px;
position: absolute;
top: 5px;
left: -20px;
background-size: contain;
}
ul.listoffer li{
position: relative;
margin-left: 30px;
list-style-type: none;
}
div#addcart {
POSITION: ABSOLUTE;
RIGHT: 0;
TOP: 53PX;
transition: 0.5s;
}
.pluscart {
padding: 10px;
background-color: #f1f1f1;
border-bottom: 1px solid #000;
display: flex;
align-items: center;
justify-content: left;
}

#dro #addcart{
opacity: 0;
}
.droactive #addcart{ 
opacity: 1 !important;
z-index: 2;
}


div#dro {
position: relative;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 4px;
}
div#addcart {
width: 350px;
}

.login , .logo , .login a{
display: flex;
align-items: center;
}
/* deckstop media  */
@media screen and (min-width:786px){

    #main p{

        font-weight: 400;
        font-size: 94%;
        line-height: 1.8;
        text-overflow: ellipsis !important;
        overflow: hidden;
        text-wrap: nowrap;
        width: 75%;
        margin-top:10px;
    }
    input.scan::placeholder {
        color: #333;
        font-size:20px;
        text-align: left;
        font-family: 'Cinzel';
        line-height: 1;
        position: relative;
        left: 20px;
        
        
        
        }
       
       
}
/* mobile media  */

@media screen and (max-width:786px) {
#main img, .cat img{
    width: 100px !important;
    height: auto;
}
#main p{
font-size:10px !important;
text-overflow: ellipsis !important;
        overflow: hidden;
        text-wrap: nowrap;
        width: 100%;
        margin-top:10px;

}
.btn {
    width: 70px !important;
    height: 25px !important;
    border-radius: 30px;
    background: #3f69ef;
    color: #fff;
    font-size: 8px;
    box-shadow: 0px 3px 3px #00000082;
    border: none;
    margin-top: 10px;
} 
#main .item{

   width: 90px; 
}
.head{
    flex-direction: column;

}
.search{
    padding: 0px;
    width: 100% !important;

}
.cat img{
width: 60px !important;

}
.cat .item{
    width: 16%;

}
.cat p{
font-size: 10px;

}
.sgproduct .flex{
flex-direction: column;

}
.sgproduct h2  {
font-size:22px !important;

}
.sgproduct h4{

    font-size:14px !important
}
.sgproduct li{
font-size: 10px;

}
.sgproduct p {
    font-size: 10px;

}
ul.listoffer li{

    margin-left: 20px; 
}
.login{
    padding-left: 0px;
}
input.scan::placeholder {
    color: #333;
    font-size:11px;
    text-align: left;
    font-family: 'Cinzel';
    line-height: 1;
    position: relative;
    left: 20px;
    
    
    }
    .log{
        flex-direction: column;
        border-radius:20px !important ;
        width: 90%;
    }
    .wth.rightlogo {
        display: none;
    }
}



section.slider{
overflow: hidden;

}
.slider .item{
padding: 0px !important;

}
.logcart{
display: flex;
    gap:15px;
}
.logosearch{
width:100%;

}

#mains {
    position: absolute;
    width: 100%;
    height: auto;
    overflow: auto;
    z-index: 2;
}
#mains .item{
width: 100px !important;

}

#mains .item img{
width: 100px;
height: auto;

}
#mains .item p{
font-size: 10px;
    
            }
#mains .item button{
   display: none;
    
            }
#mains .flex{
justify-content: flex-start !important;

}
#mains .gap{
margin:0px !important;

}
#mains{

    display: none;
}
.active {
display: block !important;

}
#mains .raw{
background-color: #f1f1f1;

}