*{
   
 
    padding: 0;
    box-sizing: border-box;
    margin: 0;


}
body {
    box-sizing: border-box;

}

.owl-carousel .owl-stage-outer{
    display: inline-table;

}

h4{
color: #020611 !important;

}
body{
background-color: var(--secondary);

}
p{
font-weight: 600;

}

p ,h1 ,h2,h3{
font-family:sans-serif;
color: var(--text-color);
}

a{
text-decoration: none;

}
:root{
    --Primary: #020611;
    --secondary:#f1f2f4;
    --text-color:#333333;
}
.owl-stage {
    display: -webkit-inline-box;
}
@media screen and (min-width: 786px) {
    /* div#catroot {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 10px;
       
    }
    
    .catogery{
margin-top:10px;

    } */
    .padding{
        padding: 10px 40px 10px 40px;
        }

        .raw{
            width: 100%;
            max-width: 1200px;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
            
            
            }
            input#scan {
                width: 100%;
                height: 70px;
                border-radius: 30px;
                background-color: #020611;
                color: #fff;
                font-size: 30px;
                font-family:sans-serif;
                text-align: center;
                margin: 5px;
            }
            input#scan::placeholder {
                color: #fff;
                font-size: 30px;
                text-align: center;
                font-family:sans-serif;
                line-height: 1;
            }
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
gap:20px;
}
.scan{

width: 100%;
height:60px;
background-color:var(--secondary);

}
.grid{

display:grid;
grid-template-columns: auto auto auto auto;
gap:30px;

}
.inline{
display:inline-block;

}
.search {
    width: 75%;
    margin-top: 0px;
    margin-right: auto !important;
    padding-left: 30px;
   
}
.login {
    width: 10%;
    margin-top: 0px;
    margin-right: auto !important;
    padding-left: 30px;
}
.cart {
    width: 10%;
    margin-top: 0px;
    margin-right: auto !important;
    padding-left: 30px;
}
.head i{
padding-right: 7px;

}
.scan{
    border-radius: 8px;
    border: none;
    background-color: var(--secondary);

}
input.scan::placeholder {
    color: #333;
    font-size:20px;
    text-align: left;
    font-family: 'Cinzel';
    line-height: 1;
    position: relative;
    left: 20px;
   
    

}

.over {
    overflow: overlay;
    overflow-x: scroll;
}
.cat {
    margin-top: 10px;
    margin-bottom: 10px;
}