*{
   
 
    padding: 0;
    box-sizing: border-box;
    margin: 0;


}
body {
    box-sizing: border-box;
    overflow-x: hidden;
}

.owl-carousel .owl-stage-outer{
    display: inline-table;

}

h4{
color: #020611 !important;

}
body{
background-color: var(--secondary);

}
p{
font-weight: 600;

}

p ,h1 ,h2,h3{
font-family:sans-serif;
color: var(--text-color);
}

a{
text-decoration: none;

}
:root{
    --Primary: #020611;
    --secondary:#f1f2f4;
    --text-color:#333333;
}
.owl-stage {
    display: -webkit-inline-box;
}
@media screen and (min-width: 786px) {
    /* div#catroot {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 10px;
       
    }
    
    .catogery{
margin-top:10px;

    } */
    .padding{
        padding: 10px 40px 10px 40px;
        }

        .raw{
            width: 100%;
            max-width: 1200px;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
            
            
            }
            input#scan  {
                width: 100%;
                height: 70px;
                border-radius: 30px;
                background-color: #020611;
                color: #fff;
                font-size: 30px;
                font-family:sans-serif;
                text-align: center;
                margin: 5px;
            }
            input#scan::placeholder {
                color: #fff;
                font-size: 30px;
                text-align: center;
                font-family:sans-serif;
                line-height: 1;
            }
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
gap:20px;
}
.scan{

width: 100%;
height:60px;
background-color:var(--secondary);

}
.grid{

display:grid;
grid-template-columns: auto auto auto auto;
gap:30px;

}
.inline{
display:inline-block;

}
.search {
    width: 75%;
    margin-top: 0px;
    margin-right: auto !important;
    padding-left: 30px;
   
}
.login {
    width: 10%;
    margin-top: 0px;
    margin-right: auto !important;
    padding-left: 30px;
}
.cart {
    width: 10%;
    margin-top: 0px;
    margin-right: auto !important;
    padding-left: 30px;
}
.head i{
padding-right: 7px;

}
.scan{
    border-radius: 8px;
    border: none;
    background-color: var(--secondary);

}
input.scan::placeholder {
    color: #333;
    font-size:20px;
    text-align: left;
    font-family: 'Cinzel';
    line-height: 1;
    position: relative;
    left: 20px;
   
    

}

.over {
    overflow: overlay;
    overflow-x: scroll;
}
.gap {
    margin-top: 10px;
    margin-bottom: 10px;
}
.wth{
width: 100%;

}
.textgap{
padding-bottom:20px;


}
.log input {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #3f68ef5c  !important;
    margin-bottom: 20px;
    margin-top: 10px;
}
.btn {
    width: 250px !important;
    height: 50px !important;
    border-radius: 30px;
    background: #3f69ef;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 5px 14px #00000096;
    border: navajowhite;
}
.fom{
padding:50px;

}
.rightlogo{
background:url("/images/flipkartbackground.jpeg");
align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    border-radius: 20px 0px 0px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rightlogo:before {
    content: "";
    background: #3f69efe3;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 20px 0px 0px 20px;
}
.rightlogo img{
z-index:1;

}
.log{
    border-radius: 20px 0px 0px 20px !important;
}
p{

    font-weight: 400;
    font-size: 94%;
    line-height: 1.8;
}

.item {
    padding-top: 15px;
    padding-bottom: 15px;
}
.owl-theme .owl-nav.disabled+.owl-dots{

    display: none;
}

.footer {
    padding: 50px;
    background-color: #212121;
}
.footer p ,footer h4{
color: #fff !important;

}
ul.listoffer li::before {
   content: "";
    background-image: url(/images/c22c9fc4-0555-4460-8401-bf5c28d7ba29.webp);
    height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
    left: -20px;
    background-size: contain;
}
ul.listoffer li{
position: relative;
    margin-left: 30px;
    list-style-type: none;
}
div#addcart {
    POSITION: ABSOLUTE;
    RIGHT: 0;
    TOP: 53PX;
}
.pluscart{
    padding:10px;
    background-color:#fff;
    box-shadow: 0px 1px 11px #000;
} 